.dark{
  background-color: rgb(17, 26, 51);
  color:rgb(41, 201, 212);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin: 10px;
  font-family:fantasy;

}
.light{
  color: rgb(17, 26, 51);
  background-color:rgb(41, 201, 212);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin: 10px;
  font-family:fantasy;
}
